{% extends 'Application/base.html' %}
{% block title %}
Create Assessment
{% endblock %}
{% block banner %} Create Assessment{% endblock %}
{% block content %}

<div class="ed_transprentbg ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top">
					<h3>Create Assessment</h3>
				</div>
			</div>
            <form id="AssessmentForm" action="" method="post">
                {% csrf_token %}
			<div class="ed_contact_form ed_toppadder60">
				<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="form-group">
                    <label for="course">Course</label>
				<select name="courseId" class="form-control" id="courseId" required>
                    <option selected>Select Course</option>
                    {% for item in items %}
                    <option value='{{item.id}}'>{{item.className}}</option>
                    {% endfor%}
                </select>
				</div>
				
				<div class="form-group">
                    <label for="startDate">Start Date</label>
					<input name="startDate" type="datetime-local" id="startDate" class="form-control" required>
				</div>
                <div class="form-group">
                    <label for="due-Date">Due Date</label>
					<input name="dueDate" type="datetime-local" id="dueDate" class="form-control" required>
				</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" type="text" id="title" class="form-control" required  placeholder="Enter title">
                    </div>
                    
				<div class="form-group">
				<label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="5" placeholder="Description if any..." required></textarea>
				</div>


				{% csrf_token %}
				<button name="submit" id="submit" type="submit" class="btn ed_btn ed_orange pull-right">Save</button>
				<p id="err"></p>
				</div>
			</div>
            </form>
		</div>
    
</div>


  </div>
  

{% endblock %}