{% extends 'Application/base.html' %}
{% block title %}
Assessments
{% endblock %}
{% block banner %} Manage Assessments{% endblock %}
{% block content %}

<div class="ed_transprentbg ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top">
					<h3>Manage Assessment</h3>
				</div>
			</div>
      
		</div>
        <div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
	
			</div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
           
            <aside class="widget widget_button">
                <a href="#" class="ed_btn ed_green btn-lg">Add New <i class="fa fa-plus"></i></a>
            </aside>
		</div>
        </div>
        <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:2%">
                <table  class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>OOP Inheritance</td>
                            <td>12-01-2021 12:00 PM</td>
                            <td>15-01-2021 11:59 PM</td>
                            <td>
                            <select name="action" id="action" class="form-control">
                                <!-- Add Link with assessment ID here e.g /viewAssessment/id/-->
                                <option selected disabled>Action</option>
                                <option value="view"><a href="#">View</a></option>
                                <option value="edit"><a href="#">Edit</a></option>
                                <option value="delete"><a href="#">Delete</a></option>

                            </select></td>
                        </tr>												
                    </tbody>
                </table>
			</div>
      
		</div>
 </div>
</div>
 

{% endblock %}