{%load static%}
<!DOCTYPE html>

<head>
<meta charset="utf-8" />
<title>Dashboard | Students</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta name="MobileOptimized" content="320" />


<link href="{%static 'Application/Student/css/main.css' %}" rel="stylesheet" type="text/css"/>
<!-- end theme style -->

<!-- favicon links -->
<link rel="shortcut icon" type="image/png" href="{%static 'Application/Student/images/header/pclogo.png' %}" />

</head>
<style>
    body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #272727;
	-webkit-font-smoothing: antialiased;
}
</style>
<body>
<!--Page main section start-->
<div id="educo_wrapper">
<!--Header start-->
<div class="ed_header_bottom">
    <div class="container">
  
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <div class="educo_logo"> <a href="/dashboard/"><img src="{%static 'Application/Student/images/header/pclogo.png' %}" width="60" height="45" class="d-inline-block align-top" alt="logo" /></a> </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="edoco_menu_toggle navbar-toggle" data-toggle="collapse" data-target="#ed_menu">Menu <i class="fa fa-bars"></i>
          </div>
        <div class="edoco_menu">
          <ul class="collapse navbar-collapse" id="ed_menu">
            <li><a href="#">Home</a>
              
            </li>
            <li><a href="#">Reports</a>
              
            </li>
            <li><a href="#">Assessments</a>
              
            </li>
          </ul>
        </div>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-2">
          <div class="educo_call"><i class="fa fa-sign-out"></i><a href="{% url 'logout' %}">Logout</a></div>
        </div>
      </div>
    </div>
  </div>	
 <!--header end -->
<!--Breadcrumb start-->
<div class="ed_pagetitle" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url(http://placehold.it/921X533);">
<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-4 col-sm-6">
				<div class="page_title">
					<h2>Programming Corner</h2>
				</div>
			</div>
			<div class="col-lg-6 col-md-8 col-sm-6">
				<ul class="breadcrumb">
					
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Breadcrumb end-->
<!--single student detail start-->
<div class="ed_dashboard_wrapper">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="ed_sidebar_wrapper">
					<div class="ed_profile_img">

					<img src="{{student_obj.profile_pic}}" alt="Dashboard Image" />
					</div>
					<h3>{{user.username}}</h3>
					 <div class="ed_tabs_left">
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#dashboard" data-toggle="tab">dashboard</a></li>
						  <li><a href="#courses" data-toggle="tab">courses </a></li>
						 <li><a href="#profile" data-toggle="tab">profile</a></li>
						  <li><a href="#setting" data-toggle="tab">setting</a></li>
						 
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<div class="ed_dashboard_tab">
				<div class="tab-content">
					<div class="tab-pane active" id="dashboard">
						<div class="ed_dashboard_tab_info">
							{% for message in messages %}
							
                                       
                                      
								<div class="alert alert-{{message.tags}}" role="alert" id='error-msg'>
									<script>setTimeout(function(){
										document.getElementById('error-msg').style.display = 'none';
									 }, 3000);</script>
									{{message}}
								  </div>
								
							
								{% endfor %}
						<h1>hello, <span>{{user.username}}</span></h1>
						<h1>welcome to dashboard</h1>
						<p>Hi , here you have to see and update your profile, join courses. All the above updates can be modified from the left panel provided.</p>
						</div>
					</div>
					<div class="tab-pane" id="courses">
						<div class="ed_dashboard_inner_tab">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#my" aria-controls="my" role="tab" data-toggle="tab">my courses</a></li>
										</ul>
					
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="my">
									<div class="ed_inner_dashboard_info">
									<h2>you have {{total}} subscribed courses</h2>

										<div class="row">
											<div class="ed_mostrecomeded_course_slider">
												{% for class in course_info %}
												<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ed_bottompadder20">
													<div class="ed_item_img">
														<img src="https://www.gstatic.com/classroom/themes/Design.jpg" alt="item1" class="img-responsive">
													</div>
													<div class="ed_item_description ed_most_recomended_data">
															<h4><a href="{% url 'view_class_student' class.id %}">{{class.c_name}} </a><span>17</span></h4>
															
															<div class="row">
																<div class="ed_rating">
																	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																		
																		<div class="">
																			<i class="fa fa-users"></i>
																			<span>{{class.student_count}} students</span>
																			</div>
																	</div>
																	
																
																</div>
															</div>
															<div class="course_detail">
																<div class="course_faculty">
																	<img src="{{class.teacher_profie.profile_pic}}" alt=""> <a href="#">{{class.teacher}}</a>
																</div>
															</div>
															
															
													</div>
												</div>
												
												{% endfor %}
												
												<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ed_bottompadder20">
													
													<div class="card text-center" style="width: 18rem;">
														<div class="card-body">
														  <h4 class="card-title">Join Course</h4>
														  <p class="card-text">Join the class by class code</p>
														  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#joinclass">Join</a>
														</div>
													  </div>
												</div>
											</div>
										</div>
									</div>
									</div>
									
									
									
								</div>
					
							</div><!--tab End-->
						</div>
					</div>
			
					
					<div class="tab-pane" id="profile">
						<div class="ed_dashboard_inner_tab">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#view" aria-controls="view" role="tab" data-toggle="tab">view</a></li>
									<li role="presentation"><a href="#change" aria-controls="change" role="tab" data-toggle="tab">change profile photo</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="view">
									<div class="ed_dashboard_inner_tab">
										<h2>your profile</h2>
										<table id="profile_view_settings">
											<thead>
												<tr>
													<th>Name</th>
                                                    <th>Id</th>
                                                    <th>Roll No</th>
												</tr>
											</thead>

											<tbody>
												<tr>
													<td>{{user.username}}</td>
                                                    <td><a href="#">{{user.email}}</a></td>
                                                    <td>{{student_obj.rollNo}}</td>
												</tr>												
											</tbody>
										</table>
									</div>
									</div>
									
									<div role="tabpanel" class="tab-pane" id="change">
										<div class="ed_dashboard_inner_tab">
											<h2>change photo</h2>
											<form class="ed_tabpersonal" enctype="multipart/form-data" method="post" action="/chngeProfile">
												{% csrf_token %} 	
												<div class="form-group">
													
												<p>Click below to select a JPG, GIF or PNG format photo from your computer and then click 'Upload Image' to proceed.</p>
												</div>

												<div class="form-group">
													<input type="hidden" name="std_id" value="{{user.id}}" required>
												<input type="file" name="profile_pic" accept="image/*" required>
												</div>
												<div class="form-group">
												<button class="btn ed_btn ed_green" type="submit">upload image</button>
												</div>
												
											</form>
										</div>
									</div>
								</div>
							</div><!--tab End-->
						</div>
					</div>
					<div class="tab-pane" id="setting">
						<div class="ed_dashboard_inner_tab">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">general</a></li>
									</ul>
					
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="general">
									<div class="ed_dashboard_inner_tab">
										<h2>general setting</h2>
										<form class="ed_tabpersonal" action="/changePassword" method="post">
											{% csrf_token %} 
											<div class="form-group">
											<p>Change Password <strong>(leave blank for no change)</strong></p>
											</div>
											<div class="form-group">
											<input type="password" class="form-control" name='password' required placeholder="New Password">
											</div>
											<div class="form-group">
											<input type="password" class="form-control" name="password1" required  placeholder="Repeat New Password">
											</div>
											<div class="form-group">
											<button class="btn ed_btn ed_green" type="submit">save changes</button>
											</div>
										</form>
									</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="email">
									<div class="ed_dashboard_inner_tab">
										<h2>email notification</h2>
										<span>Send an email notice when:</span>
										<table id="notification_settings">
											<thead>
												<tr>
													<th class="title">Activity</th>
													<th class="yes">Yes</th>
													<th class="no">No</th>
												</tr>
											</thead>

											<tbody>
												<tr>
													<td>A member mentions you in an update using "@andrehouse123"</td>
													<td class="yes"><input type="radio" name="activity1" value="yes" checked="checked"></td>
													<td class="no"><input type="radio" name="activity1" value="no"></td>
												</tr>
												
												<tr>
													<td>A member replies to an update or comment you've posted</td>
													<td><input type="radio" name="activity2" value="yes" checked="checked"></td>
													<td><input type="radio" name="activity2" value="no"></td>
												</tr>
											</tbody>
										</table>
										<button class="btn ed_btn ed_green">save changes</button>
									</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="visibility">
									<div class="ed_dashboard_inner_tab">
										<h2>profile visibility</h2>
										<table id="visibility_settings">
											<thead>
												<tr>
													<th class="title">Name</th>
													<th class="yes">Visibility</th>
												</tr>
											</thead>

											<tbody>
												<tr>
													<td>Andre House</td>
													<td>Everyone</td>
												</tr>												
											</tbody>
										</table>
										<button class="btn ed_btn ed_green">save setting</button>
									</div>
									</div>
								</div>
					
							</div><!--tab End-->
						</div>
					</div>
					<div class="tab-pane" id="forums">
						<div class="ed_dashboard_inner_tab">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#started" aria-controls="started" role="tab" data-toggle="tab">topics started</a></li>
									<li role="presentation"><a href="#replies" aria-controls="replies" role="tab" data-toggle="tab">replies created</a></li>
									<li role="presentation"><a href="#favourite" aria-controls="favourite" role="tab" data-toggle="tab">favourite</a></li>
									<li role="presentation"><a href="#subscribed" aria-controls="subscribed" role="tab" data-toggle="tab">subscribed</a></li>
								</ul>
					
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="started">
									<div class="ed_dashboard_inner_tab">
										<h2>forum topics started</h2>
										<span>You have not created any topics.</span>
									</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="replies">
									<div class="ed_dashboard_inner_tab">
										<h2>forum replies created</h2>
										<span>You have not replied to any topics.</span>
									</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="favourite">
									<div class="ed_dashboard_inner_tab">
										<h2>favorite forum topics</h2>
										<span>You currently have no favourite topics.</span>
									</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="subscribed">
									<div class="ed_dashboard_inner_tab">
										<h2>subscribed forums</h2>
										<span>You are not currently subscribed to any forums.</span>
									</div>
									</div>
								</div>
					
							</div><!--tab End-->
						</div>
					</div>
				</div>
			</div>
			</div>
			
			
		</div>
	</div>
</div>
<!--single student detail end-->
<!--Footer Top section start-->
<div class="ed_footer_wrapper">
	<div class="ed_footer_top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<p><a href="#"><img src="{%static 'Application/Student/images/header/pclogo.png' %}" alt="Footer Logo" /></a></p>
						<p>ProgrammingCorner targeting educational institutions, helping them establish strong identity on the internet without any real developing knowledge.
						</p>
						<div class="ed_sociallink">
						<ul>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Retro"><i class="fa fa-camera-retro"></i></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook-official"></i></a></li>
						</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">find us</h4>
						<p><i class="fa fa-safari"></i>Wimbledon Street 42a, 45290 Wimbledon, <br/>Pakistan</p>
						<p><i class="fa fa-envelope-o"></i><a href="#">info@programmingcorner.nu.edu.pk</a> <a href="#">public@programmingcorner.nu.edu.pk</a></p>
						<p><i class="fa fa-phone"></i> 1-220-090-080</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="widget text-widget">
						<h4 class="widget-title">social media</h4>
						<p><strong>@education </strong> How many students do you educate monthly? Open <a href=""> http://t.co/KFDdzLSD9</a><br/>2 days ago</p>
						
						<p><strong>@educationUK </strong> Web Design that works. Have a look at this masterpiece. <a href="">http://t.co/9j8DH93zrO</a><br/>5 days ago</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Footer Top section end-->
<!--Footer Bottom section start-->
<div class="ed_footer_bottom">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="ed_copy_right">
					<p>&copy; Copyright 2016, All Rights Reserved, <a href="#">Fast Nuces</a></p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="ed_footer_menu">
						<ul>
							<li><a href="/dashboard/">home</a></li>
							<li><a href="private_policy.html">private policy</a></li>
							<li><a href="about.html">about</a></li>
							<li><a href="contact.html">contact us</a></li>
						</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<!--Footer Bottom section end-->
</div>
<!--Page main section end-->
<!--main js file start--> 
<script type="text/javascript" src="{%static 'Application/Student/js/jquery-1.12.2.js' %}"></script> 
<script type="text/javascript" src="{%static 'Application/Student/js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{%static 'Application/Student/js/modernizr.js' %}"></script> 
<script type="text/javascript" src="{%static 'Application/Student/js/owl.carousel.js' %}"></script> 
<script type="text/javascript" src="{%static 'Application/Student/js/jquery.stellar.js' %}"></script> 
<script type="text/javascript" src="{%static 'Application/Student/js/smooth-scroll.js' %}"></script> 
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/revel/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/revel/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/revel/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/revel/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/revel/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/countto/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/plugins/countto/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{%static 'Application/Student/js/custom.js' %}"></script> 

<div class="modal fade bd-example-modal-sm" id="joinclass" data-backdrop="static"  tabindex="-1" aria-labelledby="joinclassLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="staticBackdropLabel">Join Class</h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form method="post" action="/joinClass">
			{% csrf_token %}
			  <div class="form-group">
				  <label for="classCode">Enter Class Code</label>
				  <input type="text" class="form-control" name='classCode' required>
			  </div>
			 <input type="hidden" class="form-control" value="{{user.id}}" name="student_id">
		</div>
		<div class="modal-footer">
			<button type="Submit" class="btn btn-primary">Join Now</button>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  
		</div>
	</form>
	  </div>
<!--main js file end-->
</body>
</html>