{% extends 'Application/base.html' %}
{% block title%}
Course Details
{% endblock %}
{% block banner %}
{{labdetail.className}}
{% endblock %}

{% block content %} 


<div class="ed_graysection ed_course_single ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
            <div class="col-md-1 col-lg-1"></div>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<div class="ed_course_single_item">
					<div class="ed_course_single_image">
						<img src="https://gstatic.com/classroom/themes/img_backtoschool.jpg" alt="event image" />
					</div>
					<div id="testCasePush" class="col-md-12">
						<h3>Result</h3>
						<h4>Total Marks: {{totalMarks}}</h4>
						<table class="table table-bordered" id="testCase" name="testcase">
							<thead>
								<tr>
								  <th scope="col">Student</th>
								  {% for item in questionList %}
									<th scope="col">Q{{item.id}} [{{item.weightage}}]</th>
								  {% endfor %}
								  <th scope="col">Obtained Marks</th>
								</tr>
							  </thead>
							<tbody>
								{% for item in resultList %}
								<tr>
									<td class="Student" >{{item.name}}</td>
									{% for mark in item.marklist %}
										<td class="Obtained Marks">{{mark}}</td>
									{% endfor %}
									<td class="Obtained Marks">{{item.totalmarks}}</td>
								</tr>
								{% endfor%}
							</tbody>
						</table>
						<center>
							{% csrf_token %}
						</center>
					</div>

					
				</div>	
                
			</div>
            <div class="col-md-1 col-lg-1">
                </div>
		</div>
	</div>
</div>

{% endblock %}   
